<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/CSS">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <title>Welcome!</title>
</head>
<body>
    <div class = "container">
        <br><br>
        <div class="col-sm-12 book-liked" style="text-align: center;">
            <button type="button" class="books-liked" data-toggle="modal" data-target="#topModal" onclick="topfive()">
                Top 5 Liked Books!
            </button>
        </div>
        <br><br>
        <h1 class = "title">Search Your Book Here</h1> 
        <br>
        <div class="input">
            <input type="text" id="input" placeholder="Search..." title="Type in a name" style = "width: auto;">
        </div>
        <br>
        <div class="content" id="books-result">
            <table id="demo" class="table table-borderless table-light" style="text-align: center; border-radius: 10px; max-width: 1200px; overflow-x:auto ">
                <thead>
                <tr>
                    <th scope="col" class="align-middle">Cover</th>
                    <th scope="col" class="align-middle" id="book-title-result">Title</th>
                    <th scope="col" class="align-middle">Authors</th>
                    <th scope="col" class="align-middle">Likes</th>
                </tr>
                </thead>
                <tbody id="books"></tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="topModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="topModalLabel" style="text-align: center;"><span class="main-title">Top 5 Most Liked Books</span></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body" id="topBookContainer" style="text-align: center; font-family: Raleway; font-size: 25px;">

            </div>
        </div>
        </div>
    </div>

    <script src="http://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src = "{% static 'script.js' %}"></script>
</body>
</html>