html, body{
    width:100%;
    height:100%;
    background-color: #fa744f;
    
}

.title{
    font-family: 'Raleway';
    text-align: center;
    font-size: 80px;
}

.input{
    justify-content: center;
    text-align: center;
}

.content{
    font-family: Raleway;
    font-size: 20px;
    text-align: center;
    justify-content: center;
}

.books-liked{
    justify-content: center;
    background-color: white;
    font-family: Raleway;
    font-size: 30px;
    color: #fa744f;
    border-radius: 25px;
}

tr:hover {
    background-color:#fa744f;
}
